<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          margin: 0;
          padding: 0;
        }
        h1 ,p{
          text-align: center;
          color: #333;
        }
        .container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
     
      </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculation Result</title>
</head>
<body>
    <div class="container">
    <h1>Calculation Result</h1>
    <p>The result of <%= num1 %> <%= operator %> <%= num2 %> is: <%= result %></p>
</div></body>
</html>
